Cell_Phones_and_Accessories_5.json
emotions_test.txt
emotions_train.txt
emotions_val.txt
Fake.csv
IMDBDataset.csv
news_dataset.json
spam.csv
Sports_and_Outdoors_5.json
True.csv
word2vec-amazon-cell-accessories-reviews-short.model
word2vec-sports-and-outdoors-reviews-short.model
fake_and_real_news.csv
cc.en.300.bin
Cleaned_Indian_Food_Dataset.csv
food_recipes.txt
ecommerce_dataset.csv
ecommerce.train
ecommerce.test
project/my_output
.DS_Store
.idea
__pycache__/